*{
    padding:0%;
    margin: 0%;
}

.navigation{
    margin: 0;
    width: 100%;
    height: 10%;
    background-color: black;
   
}
.navigation ul li{
    display: inline-block;
    justify-content: space-between;
    padding: 30px;
}

.navigation ul li a{
    color: white;
    text-decoration: none;
    
}

.content{
    display:flex ;
    justify-content: center;
}

.content-box1{
    
    margin: 20px;
    height: 500px;
    width: 300px;
    border: solid; 
}

.content-box1 div{
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
}

.content-box2{
    
    margin: 20px;
    height: 500px;
    width: 300px;
    border: solid; 
}

.content-box2 div{
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
}
.content-box3{
    
    margin: 20px;
    height: 500px;
    width: 300px;
    border: solid; 
}

.content-box3 div{
    width: 300px;
    background-color: black;
    color: white;
    text-align: center;
}

/*css for vacancy admin page*/
.vacancy-detail{
    border: solid 10px red;
    display: block;
    margin-left: 10%;
    margin-bottom: 5%;
    margin-right: 10%;
    margin-top: 5%;
}

.vacancy-detail-list{
    margin-left: 5%;
}

.vacancy-detail input{    
    margin: 10px;
    padding-right: 5%;
}

.update{
    margin: 10%;
}

.update h2{
    text-align: center;
}

#vacancylist{
    background-color: white;
    color: black;
    text-align: left;
}

#vacancylist1{
    background-color: white;
    color: black;
    text-align: left;
}

#vacancylist2{
    background-color: white;
    color: black;
    text-align: left;
}

#newVacancyList{
    color: red;
    text-decoration: none;
    font-size: larger;
}

#liElement{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-content{
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;

}